.footer {
  margin-top: 6%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffc107;
}

.footer__logo img {
  width: calc(100% - 40%);
  margin-bottom: 10px;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 30px;
}

.delivery__time-item {
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  font-size: 0.9rem;
  color: #212245;
}

.delivery__time-item p {
  color: #212245;
}
.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.social__links span i {
  padding: 5px;
  background: transparent;
  color: rgb(0, 0, 0);
  border-radius: 50%;
}

.copyright__text {
  font-size: 0.8rem;
  color: hsl(0, 0%, 0%);
}


@media only screen and (max-width: 992px) {
  .footer__logo h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .footer__logo h5 {
    font-weight: 600;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: auto;
  }
}
