.contenido__delivery {
  padding-top: 70px;
}

.titulo__delivery {
  font-size: 2.5rem;
  line-height: 55px;
}

.titulo__delivery span {
  color: #ffc107;
}

.contenido__delivery p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}

.delivery__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.order__btn {
  background: #ffc107;
  color: #fff;
  transition: 0.3s;
}

.order__btn:hover {
  background: #7d80c5;
}

@media only screen and (max-width: 768px) {
  .contenido__delivery h5 {
    font-size: 1rem;
  }

  .contenido__delivery p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .titulo__delivery {
    font-size: 1.5rem;
    line-height: 0px;
  }

  .delivery__btns button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 576px) {
  .contenido__delivery {
    text-align: left;
  }

  .titulo__delivery {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .delivery__btns {
    justify-content: left;
  }
}
