.foodBtnActive {
  background: #fff !important;
  border-radius: 5px;
  color: #df2020 !important;
}

@media only screen and (max-width: 768px) {
  .contenido__delivery h5 {
    font-size: 1rem;
  }

  .contenido__delivery p {
    font-size: 0.8rem;
    line-height: 25px;
  }

  .titulo__delivery {
    font-size: 1.5rem;
    line-height: 0px;
  }

  .delivery__btns button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }

}
@media only screen and (max-width: 576px) {
  .contenido__delivery {
    text-align: center;
  }

  .delivery__btns {
    justify-content: center;
  }

}
