.food__categoria {
  background: #ffc107;
  text-align: center;
  margin-top: 30px;
  padding: 10px 0px;
  border-radius: 8px;
}

.food__categoria button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #fff;
}

.food__categoria button img {
  width: 40px;
  height: 40px;
}

.foodBtnActive {
  background: #fff !important;
  border-radius: 5px;
  color: #df2020 !important;
}


@media only screen and (max-width: 768px) {

  .food__categoria {
    background: #ffc107;
    text-align: center;
    margin-top: 30px;

    border-radius: 8px;
  }
}
@media only screen and (max-width: 576px) {

}
